.quizhead{
    background-color: #4e37af;
    color:white;

    font-family: omu_DaYeBBeum;
    font-size: 28px;
    letter-spacing: 5px;
    /* border: 5px solid #9d03fc;  */
    border-radius: 5px;
    margin-left: 15%;
    margin-right: 15%;
    
    /* text-indent: 20px; */
    
    text-align: center;
    
  }
  
  .quizimage{
    width: 280px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 5%; */
    display: block;

  }
  .bigbox{
    font-family: esamanru_light;
    font-size: 20px;
    line-height: 200%;
    
    margin-left: auto; /* 5% */
    margin-right: auto; /* 5% */
    width: auto;
    display: flex;

    height: 85vh;
    width: 95%;
    background-color: white;
    color:#4e37af;
    border-radius: 20px;
    margin-top: 1%;
    flex-direction: column;
    overflow-y: auto;

  }

  input[type = button]{
    font-size: 15px;
    display: inline-block;
    background-color: #4e37af;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 25px;
    font-family: esamanru_light;
    text-decoration: none;
    margin: 10px 3px;
  }
  input[type = button]:hover{
    font-size: 15px;
    display: inline-block;
    background-color: #dd1dca;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 25px;
    font-family: esamanru_light;
    text-decoration: none;
    margin: 10px 3px;
    cursor: pointer;
  }

  .btn{
    font-size: 13px;
    display: inline-block;
    background-color: #4e37af;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 25px;
    font-family: esamanru_light;
    text-decoration: none;
  }

  .btn:hover{
    font-size: 13px;
    display: inline-block;
    background-color: #dd1dca;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 25px;
    font-family: esamanru_light;
    text-decoration: none;
    cursor: pointer;
  }
  .circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff131;
    margin: 10px;
  }
  .circleImage{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff131;
    margin: 10px;
  }